
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  padding-top: 100px;
  /* height: calc(100vh - 100px); */
}


.product-item {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.2s;
}

.product-item:hover {
  transform: scale(1.05);
}
.product-item .card-body {
  padding: 15px;
  text-align: center;
}

.product-item .card-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.product-item .card-text {
  font-size: 0.9rem;
  color: #666;
  height: 40px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-item button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-item button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .product-item {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .product-item {
    flex: 1 1 100%;
  }
}
.product-item img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px;
}
